{% extends 'base.html' %}
{% load static %}

{% block classbody %}
page-template belle
{% endblock %}
{% block body %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">ورود کاربر</h1></div>
      		</div>
		</div>
        <!--End Page Title-->

        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 mr-auto">
                	<div class="mb-4">
                       <form method="post" action="{% url 'account:login' %}">
                        {% csrf_token %}  
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerEmail">شماره تلفن</label>
                                    <input type="text" name="username" id='CustomerEmail' placeholder="شماره تلفن خود را بطور کامل وارد کنید مثال ---0903  " >
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerPassword">رمز عبور</label>
                                    <input type="password" name="password" id='CustomerPassword'>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="ورود">
                                <p class="mb-4">
									<a href="{% url 'account:resetpasswordsms' %}" id="RecoverPassword">رمز عبور خود را فراموش کرده اید؟</a> &nbsp; | &nbsp;
								    <a href="/register" id="customer_register_link">ایجاد حساب کاربری</a>
                                </p>
                            </div>
                         </div>
                     </form>
                    </div>
               	</div>
            </div>
        </div>

    </div>
    <!--End Body Content-->
 {% endblock %}