{% extends 'base.html' %}
{% load static %}

{% block classbody %}
page-template belle
{% endblock %}
{% block body %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">کد ارسال شده را وارد کنید</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 mr-auto">
                	<div class="mb-4">
                       <form method="post" action="{% url 'account:verify' %}" class="contact-form">
                        {% csrf_token %}	
                          <div class="row">
	                          {% comment %} <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="FirstName">نام</label>
                                    <input type="text" name="customer[first_name]" placeholder="" id="FirstName" autofocus="">
                                </div>
                               </div>
                               <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="LastName">نام خانوادگی</label>
                                    <input type="text" name="customer[last_name]" placeholder="" id="LastName">
                                </div>
                               </div> {% endcomment %}
                            {% comment %} <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerEmail">ایمیل</label>
                                    <input type="email" name="customer[email]" placeholder="" id="CustomerEmail" class="" autocorrect="off" autocapitalize="off" autofocus="">
                                </div>
                            </div> {% endcomment %}
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerPassword">کد تایید:</label>
                                    <input type="text" value="" name="token" placeholder="کد تایید خود را وارد کنید" >                        	
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="ثبت نام">
                            </div>
                         </div>
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
  
{% endblock %}